{# Plantilla de nuestra aplicación#}
{%extends 'frontal/base.html.twig'%}

{#TITULO#}
{% block titulo %}Valoración trabajos{% endblock %}
{#Contenido#}
{% block contenido %}
<!-- Page Content -->

<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div style="margin-top:75px">
    <h1 class=" mt-4 mb-3">Mantenimiento ETSIDI

    </h1>
  </div>


  <!-- Intro Content -->
  <div style="margin-bottom:190px">
    <h3 style="font-style:italic"><br /><small>Lo sentimos. Estos trabajos han de ser valorados por el solicitante. No se permite valorar una intervención por un usuario distinto al solicitante.</small>
    </h3>

  </div>

</div>

<!-- /.row -->


{% endblock %}
