{# Plantilla de nuestra aplicaci贸n#}
{%extends 'frontal/base.html.twig'%}

{#TITULO#}
{% block titulo %}Valoraci贸n Trabajos{% endblock %}
{#Contenido#}
{% block contenido %}
<!-- Page Content -->

<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div style="margin-top:75px;margin-bottom:30px">
    <h1 class=" mt-4 mb-3">Mantenimiento ETSIDI

    </h1>
  </div>


  <!-- Intro Content -->
  <div style="margin-bottom:250px">
    <h3 style="font-style:italic"><small>Gracias por su colaboraci贸n. La valoraci贸n que ha realizado contribuye a la mejora del servicio.</small>
    </h3>

  </div>
</div>

<!-- /.row -->


{% endblock %}
